---
import Section from "@/components/Section.astro";
import Paragraph from '@/components/Paragraph.astro';

import { work } from "@cv";
---

<Section title="Experience">
  <ul class="flex flex-col gap-8">
    {
      work.map(({ name, startDate, endDate, position, summary }) => {
        const startYear = new Date(startDate).getFullYear();
        const endYear = endDate ? new Date(endDate).getFullYear() : "Present";
        const years = `${startYear} - ${endYear}`;
        return (
          <li>
            <article class="mb-">
              <header class="flex justify-between items-start mb-1">
                <div>
                  <h3 class="text-xl text-slate-800 font-medium dark:text-slate-100">{name}</h3>
                  <h4 class="text-base text-slate-700 font-normal dark:text-slate-200">{position}</h4>
                </div>
                <time class="text-gray-600 text-sm dark:text-gray-300">{years}</time>
              </header>
              <footer>
                <Paragraph>{summary}</Paragraph>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style></style>
