---
import Section from "@/components/Section.astro";
import cv from '@cv';

import Mail from "@/assets/icons/Mail.astro";
import Phone from "@/assets/icons/Phone.astro";
import GitHub from "@/assets/icons/GitHub.astro";
import LinkedIn from "@/assets/icons/LinkedIn.astro";
import WorldMap from "@/assets/icons/WorldMap.astro";

const { basics: { name, label, image, location, phone, email, profiles } } = cv;
const { city, region } = location;
const SOCIAL_ICONS: Record<string, any> = {
  GitHub,
  LinkedIn,
};
---

<Section>
  <div class="flex flex-row items-center justify-between gap-4">
    <div class="info">
      <h1 class="text-4xl text-slate-900 dark:text-slate-50">{name}</h1>
      <h2 class="text-lg text-slate-600 dark:text-slate-200 font-medium text-balance">{label}</h2>
      <span
        class="flex items-center text-sm gap-1 tracking-tighter text-slate-500 dark: text-slate-400"
      >
        <!-- Section icon here -->
        <WorldMap />
        {city}, {region}
      </span>
      <footer class="flex gap-1 mt-2">
        <ul class="hidden text-xs text-slate-500 print:block">
          <li><strong>Mail: </strong>{email}</li>
          <li><strong>Phone: </strong>{phone}</li>
          {profiles.map(({ network, url }) => <li><strong>{network}</strong>: {url}</li>)}
        </ul>
        <div class="flex gap-1 mt-2 print:hidden">
        {
          email && (
            <a
              class="inline-flex items-center justify-center p-1 rounded-md border border-slate-200 text-slate-400 transition duration-300 hover:bg-slate-200 dark:border-slate-700"
              href={`mailto:${email}`}
              title={`Send an email to ${name} at the address ${email}.`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Mail />
            </a>
          )
        }
        {
          phone && (
            <a
            class="inline-flex items-center justify-center p-1 rounded-md border border-slate-200 text-slate-400 transition duration-300 hover:bg-slate-200"
              href={`tel:${phone}`}
              title={`Call ${name} on the phone at the number ${phone}.`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Phone />
            </a>
          )
        }
        {
          profiles.map(({ network, url }) => {
            const Icon = SOCIAL_ICONS[network];
            return (
              <a
              class="inline-flex items-center justify-center p-1 rounded-md border border-slate-200 text-slate-400 transition duration-300 hover:bg-slate-200"
                href={url}
                title={`Visit ${name}'s ${network} profile.`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon />
              </a>
            );
          })
        }
        </div>
      </footer>
    </div>
    <figure>
      <img
        src={image}
        alt={name}
        class="aspect-square object-cover w-32 rounded-2xl"
      />
    </figure>
  </div>
</Section>
